<section class="hero">
    <h1>{{title}}</h1>
    <p>{{text}}</p>
    <a class="button" href="tel:{{contact.phone_numbers.[0]}}">Hívás most</a>
    <a class="button" href="/#idopont">Időpontfoglalás</a>
</section>
