<nav>
  <a href="/">Főoldal</a>
  <a href="/ontozorendszer">Öntözőrendszer</a>
  <a href="/kertkarbantartas">Kertkarbantartás</a>
  <a href="/zoldfal">Zöldfal</a>
  <a href="/#idopont">Időpontfoglalás</a>
  <a href="/#kapcsolat">Kapcsolat</a>
</nav>